/* 
===========================================
CSS Reset
===========================================
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 13px;
  font-family: "Barlow Semi Condensed", sans-serif;
}

body {
  background-color: hsl(214, 17%, 92%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 60px 30px;
}

/* 
===========================================
Shared CSS
===========================================
*/

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.testi-container {
  padding: 30px;
  border-radius: 1rem;
}

.top {
  display: flex;
  align-items: center;
  gap: 17px;
  margin-bottom: 15px;
}

img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 2px solid;
}

h2 {
  margin-bottom: 20px;
  font-weight: 600;
}

.name {
  font-weight: 400;
}

.text {
  font-size: 0.875rem;
  line-height: 1.275rem;
}

.testi-1 .text,
.testi-2 .text,
.testi-4 .text {
  color: hsl(0, 0%, 81%);
}

.testi-3 .text,
.testi-5 .text {
  color: hsl(224, 10%, 45%);
  font-weight: 200;
}

/* 
===========================================
Cards
===========================================
*/

.testi-1 {
  background-color: hsl(263, 55%, 52%);
  color: hsl(0, 0%, 100%);
}

.testi-1 img {
  border-color: hsl(264, 82%, 80%);
}

.testi-2 {
  background-color: hsl(217, 19%, 35%);
  color: hsl(0, 0%, 100%);
}

.testi-2 img {
  border-color: hsl(0, 0%, 81%);
}

.testi-3,
.testi-5 {
  background-color: hsl(0, 0%, 100%);
  color: hsl(217, 19%, 35%);
}

.testi-3 img,
.testi-5 img {
  border-color: hsl(0, 0%, 81%);
}

.testi-4 {
  background-color: hsl(219, 29%, 14%);
  color: hsl(0, 0%, 81%);
}

.testi-4 img {
  border-color: hsl(263, 55%, 52%);
}

/* 
===========================================
Responsive
===========================================
*/

@media (min-width: 613px) {
  .card-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "gr-1 gr-4"
      "gr-2 gr-3"
      "gr-5 gr-5";
  }

  .testi-container {
    height: 100%;
  }
  .testi-1 {
    grid-area: gr-1;
  }

  .testi-2 {
    grid-area: gr-2;
  }

  .testi-3 {
    grid-area: gr-3;
  }

  .testi-4 {
    grid-area: gr-4;
  }

  .testi-5 {
    grid-area: gr-5;
  }
}

@media (min-width: 850px) {
  .card-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "gr-1 gr-1 gr-2 gr-5"
      "gr-3 gr-4 gr-4 gr-5";
  }

  .testi-1 {
    grid-area: gr-1;
    min-width: 50%;
    height: 100%;
  }

  .testi-2 {
    grid-area: gr-2;
    min-width: 25%;
    height: 100%;
  }

  .testi-3 {
    grid-area: gr-3;
    min-width: 25%;
    height: 100%;
  }

  .testi-4 {
    grid-area: gr-4;
    min-width: 50%;
    height: 100%;
  }

  .testi-5 {
    grid-area: gr-5;
    min-width: 25%;
    height: 100%;
  }
}
